.home-bg {
  position: relative;
  height: 100vh;
}

.home-bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/src/assets/vinil.jpg') no-repeat center center/cover;
  z-index: -2;
}

.home-bg::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}


.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  
  height: calc(70vh - 150px); /* ajusta altura com base no header */
  text-align: center;
  color: var(--sky-blue);
  font-family: var(--font-raleway);
}

span{
  font-family: var(--font-limelight);
}



/* Media Queries para Home */
@media screen and (max-width: 1200px) {
  .home-content h1 {
    font-size: 45px;
  }
  
  .home-content h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 992px) {
  .home-content h1 {
    font-size: 40px;
  }
  
  .home-content h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .home-content {
    height: calc(70vh - 100px);
  }
  
  .home-content h1 {
    font-size: 35px;
  }
  
  .home-content h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .home-content h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  .home-content h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .home-content {
    height: calc(70vh - 80px);
  }
  
  .home-content h1 {
    font-size: 26px;
    margin-bottom: 12px;
  }
  
  .home-content h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .home-content {
    height: calc(70vh - 60px);
  }
  
  .home-content h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .home-content h2 {
    font-size: 16px;
  }
}